import(data.table)
exportPattern("^query+")
export(copy_number_drivers)
export(query_gene_copy_number_deletes)
export(query_gene_copy_number_amplifications)
export(query_clinical_data)
export(query_gene_copy_number)
export(left_join)
export(slookup)
