import(data.table)
import(dplyr)
import(tidyr)
import(IRanges)
exportPattern("^query+")
exportPattern("^plot+")
exportPattern("^cohort+")
exportPattern("^dnds+")
exportPattern("^driver+")
export(copy_number_drivers)
export(left_join)
export(slookup)
export(slookup2)
export(apply_to_cohort)
export(sample_to_patient_id)
export(cohort)
export(cohort_raw_data)
export(highest_purity_patients)
export(multiple_biopsy)
export(mutational_signature_by_scope)
export(mutational_signature_by_clonality)
export(sv_signature_by_scope)
export(sv_signature_by_clonality)
export(indel_signature_by_scope)
export(indel_signature_by_clonality)
export(scope)
export(add_scope_to_variants)
export(getCOSMICSignatures)
export(somatic_ploidy_plots)
export(structural_ploidy_plots)
export(multiplot)
export(extract_mutational_signature_data)
export(standard_mutation)
export(standard_double_mutation)
export(nearHotspot)
export(query_structural_variants_for_sample_as_granges)
