# Systemd configuration to keep BCL upload script running always
# 
# Copy to /etc/systemd/system, then issue:
# `systemctl daemon-reload && systemctl enable upload_bcl_gcp && systemctl start upload_bcl_gcp`
 
[Unit]
Description=BCL-to-GCP Uploader

[Service]
WorkingDirectory=/data1/illumina_data
ExecStart=/data/repos/scripts/gcp/upload_bcl_gcp 
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
